[global]
   workgroup = WORKGROUP
   server string = Samba Server %v
   netbios name = {{ hostname }}
   security = user
   map to guest = Bad User
   dns proxy = no

[{{ samba_share_name }}]
   path = {{ samba_share_dir }}
   browseable = yes
   writable = yes
   guest ok = {{ samba_guest_ok }}
   read only = no
   create mask = 0777
   directory mask = 0777
