---
- Developer:
    - Dashboard Icons:
        - abbr: DI
          href: https://dashboardicons.com/
- Learning:
    - CCIE SP v5.1 Labs:
        - abbr: CCIE
          href: https://ccie-sp.gitbook.io/ccie-spv5.1-labs/
