---
pve0:
  url: https://192.168.1.50:8006
  token: {{ proxmox_api_user | default('root@pam') }}
  secret: {{ proxmox_api_password | default('') }}
  insecure: true

pve1:
  url: https://192.168.1.51:8006
  token: {{ proxmox_api_user | default('') }}
  secret: {{ proxmox_api_password | default('') }}
  insecure: true

pve2:
  url: https://192.168.1.52:8006
  token: {{ proxmox_api_user | default('') }}
  secret: {{ proxmox_api_password | default('') }}
  insecure: true
