version: '3.8'

services:
  hbbs:
    container_name: hbbs
    image: {{ rustdesk_image }}
    command: hbbs -r {{ rustdesk_relay_host }}:21117
    volumes:
      - ./data:/root
    network_mode: "host"
    depends_on:
      - hbbr
    restart: unless-stopped
    environment:
      - ALWAYS_USE_RELAY=Y

  hbbr:
    container_name: hbbr
    image: {{ rustdesk_image }}
    command: hbbr
    volumes:
      - ./data:/root
    network_mode: "host"
    restart: unless-stopped
