#cloud-config
ssh_pwauth: true
users:
  - default
  - name: ubuntu
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: sudo
    lock_passwd: false
chpasswd:
  list: |
    ubuntu:{{ immich_vm_password }}
  expire: false
