[Unit]
Description=Anki Sync Server
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory={{ anki_install_dir }}
{% for sync_user in anki_sync_users %}
Environment="SYNC_USER{{ loop.index }}={{ sync_user }}"
{% endfor %}
ExecStart={{ anki_venv_path }}/bin/python -m anki.syncserver --host 0.0.0.0 --port {{ anki_sync_server_port }}
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
