COLLECTION_PATH=/data/anki/{{ anki_collection_filename }}
ANKI_SYNC_URL={{ anki_writer_sync_url }}
ANKI_SYNC_USER={{ anki_writer_sync_user }}
ANKI_SYNC_PASSWORD={{ anki_writer_sync_password }}
LDOCE5_API_URL={{ anki_writer_ldoce5_api_url }}
DECK_NAME={{ anki_writer_deck_name }}
NOTE_TYPE_NAME={{ anki_writer_note_type_name }}
API_HOST=0.0.0.0
API_PORT=5051
