LDOCE5_MDX_PATH=/data/dict/{{ ldoce5_mdx_filename }}
{% if ldoce5_mdd_filename %}
LDOCE5_MDD_PATH=/data/dict/{{ ldoce5_mdd_filename }}
{% endif %}
API_HOST=0.0.0.0
API_PORT=5050
{% if ldoce5_llm_api_key %}
LLM_API_KEY={{ ldoce5_llm_api_key }}
LLM_BASE_URL={{ ldoce5_llm_base_url }}
LLM_MODEL={{ ldoce5_llm_model }}
{% endif %}
