{{ proxy_domain }} {
    reverse_proxy localhost:{{ proxy_port }}

    header {
        X-Frame-Options DENY
        X-Content-Type-Options nosniff
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        -Server
    }
}
